[Unit]
Description=Create NVIDIA device nodes
After=systemd-remount-fs.service

[Service]
Type=oneshot
ExecStart=sh -c "lspci | grep -i nvidia && /var/nvidia/bin/nvidia-smi -L"
Environment="LD_LIBRARY_PATH=/var/nvidia/lib"

[Install]
WantedBy=sysinit.target
