[Unit]
Description=Velda agent

# Wait until the config is provided.
After=cloud-init.service

After=nvidia-init.service

Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/velda agent daemon
Restart=always
RestartSec=5
Environment="PATH=/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin"
Environment="HOME=/root"
StandardError=journal
OOMPolicy=continue
LimitNOFILE=524288:524288