[Unit]
Description=Velda API server

[Service]
Type=forking
ExecStart=/usr/bin/velda apiserver --config /etc/velda.yaml --pidfile /run/velda-apiserver.pid
PIDFile=/run/velda-apiserver.pid
Restart=always
RestartSec=5
Environment="PATH=/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin"
Environment="HOME=/root"
StandardError=journal

[Install]
WantedBy=multi-user.target
