[Unit]
Description=Velda agent

# Wait until the config is provided.
After=cloud-init.service google-startup-scripts.service

After=nvidia-init.service

[Service]
Type=simple
ExecStart=/usr/bin/velda agent daemon
Restart=always
RestartSec=5
Environment="PATH=/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin"
Environment="HOME=/root"
StandardError=journal
OOMPolicy=continue
LimitNOFILE=524288:524288
CPUWeight=10000

[Install]
WantedBy=network-online.target